body {
    width: 100%;
    min-height: 100vh;
    background-color: #252525;
}

main {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    color: #fff;
}

.headline-place {
    width: 90%;
    padding: 5em 0;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 3em;
}

.about-para {
    width: 90%;
    padding: 1.3em 0;
    margin: 0 auto;
    font-size: 1.3em;
}

.about-cards {
    width: 90%;
    padding: 2em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-card {
    min-height: 10em;
    width: 24%;
    padding: 1.5em;
    background: radial-gradient(22.76% 146.52% at 69.73% -12.86%,#c241ff 6.65%,#6b57ff 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-text {
    font-size: 1.8em;
    text-align: center;
}