body {
    width: 100%;
    min-height: 100vh;
    background-color: #252525;
}

main {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.headline-place {
    width: 90%;
    padding: 6em 0;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 3em;
}

.to-prices-button {
    width: fit-content;
    margin-top: 2em;
    padding: .5em 1em;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 1em;
    display: block;
    transition: all .3s ease-in;
    cursor: pointer;
}

.to-prices-button:hover {
    background-color: #fff;
    color: #252525;
}

.why-us {
    width: 90%;
    margin: 0 auto;
}

.why-us-headline {
    color: #fff;
    font-size: 2em;
}

.why-us-content-desktop {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.why-us-content-mobile {
    display: none;
}

.why-us-card {
    width: 24%;
    min-height: 200px;
    padding: 1em;
    background-color: #141414;
    border-radius: 10px;
    background-size: auto 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 1.5em;
    color: #fff;
}

.card-1 {
    background-image: url('../Images/DeliverInTime.svg');
}

.card-2 {
    background-image: url('../Images/PlaceTracking.svg');
}

.card-3 {
    background-image: url('../Images/OurStocks.svg');
}

.card-4 {
    background-image: url('../Images/TakeCare.svg');
}

.contracts-wrapper {
    width: 100%;
    padding: 2em 0;
    margin: 5em 0;
    background: radial-gradient(22.76% 146.52% at 69.73% -12.86%,#c241ff 6.65%,#6b57ff 100%);
}

.contracts {
    width: 90%;
    margin: 0 auto;
    font-size: 1.3em;
    color: #fff;
    text-align: center;
}

.they-trust-us {
    width: 90%;
    margin: 0 auto;
}

.they-trust-us-headline {
    color: #fff;
    font-size: 2em;
}

.they-trust-us-content-desktop {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.they-trust-us-content-mobile {
    display: none;
}

.they-trust-us-card {
    width: 19%;
    min-height: 100px;
    padding: 1em;
    background-color: #141414;
    border-radius: 10px;
    color: #fff;
}

.any-questions {
    width: 90%;
    margin: 3em auto 0 auto;
}

.any-questions-headline {
    color: #fff;
    font-size: 2em;
}

.any-questions-content {
    margin-top: .8em;
    color: #fff;
    font-size: 2.7em;
    text-decoration: underline;
}