@media screen and (max-width: 1000px) and (orientation: portrait) {
    .header-cont {
        height: 10vh;
    }

    .logo-place {
        font-size: 4vh;
    }

    nav {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .menu-button {
        height: 4vh;
        width: 4vh;
        background-color: aliceblue;
        display: block;
    }
}