@media screen and (max-width: 1000px) and (orientation: portrait) {
    .header-cont {
        height: 10vh;
    }

    .logo-place {
        font-size: 4vh;
    }

    nav {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .menu-button {
        height: 4vh;
        width: 4vh;
        display: block;
    }

    .open-button {
        background-image: url('../Images/Stripes.svg');
        background-size: 100% 100%;
    }

    .close-button {
        background-image: url('../Images/Cross.svg');
        background-size: 100% 100%;
    }

    .mobile-menu {
        height: 100vh;
        width: 100%;
        background-color: #252525;
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 11;
        transition: left .2s;
    }

    .mobile-menu-header {
        height: 10vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-text {
        font-size: 3.3vh;
        color: #fff;
    }

    .mobile-menu-container {
        width: 90%;
        margin: 0 auto;
        padding: 3vh 0;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .mobile-menu-button {
        font-size: 4vh;
        color: #fff;
    }

    .mobile-contacts {
        border-top: 2px solid #fff;
        color: #fff;
    }

    .mobile-contact-headline {
        width: 90%;
        margin: 0 auto;
        padding: 2vh 0;
        font-size: 2vh;
    }

    .mobile-contact {
        width: 90%;
        margin: 0 auto;
        padding: 2vh 0;
        font-size: 3vh;
    }

    .email {
        text-decoration: underline;
    }

    footer {
        padding: 3vh 0;
    }

    .footer-top {
        justify-content: space-between;
        row-gap: 3.5vh;
        column-gap: 0;
    }

    .footer-column {
        width: 47%;
        row-gap: 2vh;
    }

    .footer-line {
        font-size: 2.2vh;
        border: none;
    }

    .footer-bottom {
        margin: 3.5vh auto 0 auto;
        row-gap: 2vh;
    }
    
    .social-media-container {
        width: 100%;
        column-gap: 5vw;
    }

    .social-media-icon {
        height: 4vh;
        width: 4vh;
    }

    .copyright {
        font-size: 1.6vh;
    }
}