@media screen and (max-width: 1000px) and (orientation: portrait) {

    .slogan-place {
        height: 30vh;
        padding: 10vh 0 0 0;
    }

    .slogan-line {
        font-size: 4vh;
    }

    .boxes {
        height: 70vh;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2vh;
        flex-direction: column;
    }

    .box {
        min-height: 1vh;
        height: 16vh;
        width: 100%;
        padding: 2.1vh;
        background-size: auto 150%;
        background-position: center right;
    }

    .box-headline {
        font-size: 2.8vh;
        margin-bottom: 1vh;
    }

    .box-text {
        font-size: 1.9vh;
    }
}